<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    <h1>RestApi - File Manager</h1>
    <label for="">Upload File</label>
    <input type="file"  accept="image/*" multiple onchange="angular.element(this).scope().upload(this.files)">
    <hr>
    <label ng-repeat="filename in filenames" title="Double click to delete file">
        <img ng-src="{{url(filename)}}" ng-dblclick="delete(filename)">
       
    </label>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', [])
        app.controller('myCtrl', function ($scope,$http) {
            var url = `http://localhost:8080/rest/files/images`;
            $scope.url = function(filename) {
            return `${url}/${filename}`;
            }
            $scope.filenames;
            $scope.list = function() {
                $http.get(url).then(function(response) {
                    $scope.filenames = response.data;
                }, function(response) {
                    console.log("Error1");
                })
            }
            $scope.upload = function(files) {
                var form = new FormData();
                for (let i = 0; i < files.length; i++) {
                    const element = files[i];
                    form.append("files",files[i]);
                }
                $http.post(url, form,{
                    transformRequest: angular.identity,
                    headers: {'Content-Type': undefined},
                }).then(function(response) {
                    $scope.filenames.push(... response.data)
                }, function(response) {
                    console.log("Error2");
                })
            }
            $scope.delete = function(filename) {
                $http.delete(`${url}/${filename}`).then(function(response) {
                    let i = $scope.filenames.findIndex((name => name==filename));
                    $scope.filenames.splice(i, 1);
                }, function(response) {
                    console.log("error3")
                });
            }
            $scope.list();
        })
    </script>
</body>
</html>